<div [class]="theme">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <div fxLayout="row" fxLayoutAlign="space-between center" (click)="ChangeSidebarNestedStatus('dashboard')" class="cur-pointer margin-left-20">
          <p>
            <span>Dashboard</span>
          </p>
          <mat-icon *ngIf="!isDashboardNested">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="isDashboardNested">keyboard_arrow_up</mat-icon>
        </div>
        <div *ngIf="isDashboardNested" class="margin-left-20">
          <a mat-list-item href="#">Dash-1</a>
          <a mat-list-item href="#">Dash-2</a>
          <a mat-list-item href="#">Dash-3</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" (click)="ChangeSidebarNestedStatus('media')" class="cur-pointer margin-left-20">
          <p>
            <span>Media</span>
          </p>
          <mat-icon *ngIf="!isMediaNested">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="isMediaNested">keyboard_arrow_up</mat-icon>
        </div>
        <div *ngIf="isMediaNested" class="margin-left-20">
          <a mat-list-item href="#">Media-1</a>
          <a mat-list-item href="#">Media-2</a>
          <a mat-list-item href="#">Media-3</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" (click)="ChangeSidebarNestedStatus('friends')" class="cur-pointer margin-left-20">
          <p>
            <span>Friends</span>
          </p>
          <mat-icon *ngIf="!isFriendsNested">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="isFriendsNested">keyboard_arrow_up</mat-icon>
        </div>
        <div *ngIf="isFriendsNested" class="margin-left-20">
          <a mat-list-item routerLink="/my-friends" routerLinkActive="active">My frinds</a>
          <a mat-list-item routerLink="/recently-added" routerLinkActive="active">Recently added</a>
          <a mat-list-item routerLink="/add-friends" routerLinkActive="active">Add Friends</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row fxLayoutAlign="space-between center">
          <div>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
          <div>
            <span class="margin-left-20">Application Title</span>
          </div>
          <div>
            <!-- <span fxHide.lg="true" fxHide.sm="true" fxHide="false">
              <p>
                You can Change theme only in small or large screen
              </p>
            </span> -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onThemeChange('my-theme-1')">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span>Light</span>
              </button>
              <button mat-menu-item (click)="onThemeChange('my-theme-2')">
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span>Dark</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <ng-content></ng-content>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>