<div class="margin-20">
  <mat-form-field class="example-form-field" color="primary">
    <input matInput type="text" placeholder="Enter github username" [(ngModel)]="userName">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button class="margin-left-20" mat-raised-button color="primary" (click)="getGithubInfo(userName)">Show repos</button>
</div>

<div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
  <mat-card *ngFor="let repo of userRepos | paginate: { itemsPerPage: 6, currentPage: p }" fxFlex="30%" class="margin-bottom-20">
    <mat-card-title>
      <span>{{ repo.name }}</span>
    </mat-card-title>
    <mat-card-content class="margin-20" fxLayout="column">
      <span>Fork: {{repo.fork}}</span>
      <span>Languages: {{ repo.language }}</span>
      <span>Created Date: {{ repo.created_at | date }}</span>
      <span>Last Update Date: {{ repo.updated_at | date }}</span>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center end">
      <button mat-raised-button color="accent" (click)="seeFullRepoModal(repo)" class="font-size-fixed-14">See Full
        Info</button>
    </mat-card-actions>
    <mat-card-footer class="padding-5" fxLayoutAlign="end center">
      Size: {{repo.size}}
    </mat-card-footer>
  </mat-card>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>